@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --wisteria: #C9C3E6; /* light wisteria purple */
  --wisteria-dark: #7A288A; /* dark wisteria purple */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --wisteria: #7A288A; /* dark mode wisteria purple */
    --wisteria-dark: #4C0070; /* dark mode wisteria dark purple */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}