/* components/header.css */
.header {
    background-color: var(--wisteria);
    padding: 20px;
  }
  
  .header a {
    color: #fff;
    text-decoration: none;
  }
  
  .header a:hover {
    color: var(--wisteria-dark);
  }